*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Racing Snas One',cursive;
  
}
:root{
  --primary:#ff3700;
}
body{
  background: #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body::-webkit-scrollbar{
  display: none;
}